
body{
    background: linear-gradient(0deg, #1847e7 0%, #ffffff 100%); /*https://webcode.tools/css-generator/background-gradient */
    font-family: "Amita", serif;
    font-size: 1em;
    height: 100vh; /*Got stuck. https://stackoverflow.com/questions/59547744/cannot-get-body-element-to-cover-entire-page */
    }
header{
                background-color:steelblue;
                font-family: "Amita", serif;
                text-align: center;
                padding-top:30px;
                height: 100px;
                width: 50%;
                font-size:2em;
                position: absolute;
                right: 25%;
            }

#p1{
    font-size:.7em;
}

article {
                background-color:lightskyblue;
                
                padding-top:30px;
               
                height: 100%;
                width: 50%;
                position: absolute;
                top: 200px;
                right: 25%;
            }

#p2{
    font-family: "Amita", serif;
    padding-left:20px;
    text-align: left;
    font-size:1.25em;
    width:40%;

}
            
#Picture {
                position: relative;
                width: 15%;
                left:55%;
                margin-top:220px;
                box-shadow: -11px 11px 48px 0px #000000; /*https://webcode.tools/css-generator/box-shadow */
            }
    

@media (max-width:768px){   /* I got this form the Responsive Design video. */
    #Picture{
        
        position: relative;
        width: 15%;
        left:42%;
        margin-top:200px;
        box-shadow: -11px 11px 48px 0px #000000;
    }
    #p2{
        padding-top:100px;
        text-align: left;
        font-size:1.25em;
        width:90%;
    
    }

}